{
  "global": {
    "defaultBrowserPath": "C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe",
    "defaultBrowserArgs": "{URL}",
    "interactiveMode": false,
    "launchAtStartup": false,
    "daemonMode": false,
    "supportedProtocols": [
      "http",
      "https",
      "ssh",
      "mailto"
    ]
  },
  "rules": [
    {
      "regex": "https://music\\.yandex\\.(ru|com)/album/(\\d+)/track/(\\d+).*",
      "program": "C:\\Windows\\explorer.exe",
      "arguments": "yandexmusic://album/$2/track/$3"
    },
    {
      "regex": "https://music\\.yandex\\.(ru|com)/album/(\\d+).*",
      "program": "C:\\Windows\\explorer.exe",
      "arguments": "yandexmusic://album/$2"
    },
    {
      "regex": "https://store.steampowered.com.*",
      "program": "C:\\Windows\\explorer.exe",
      "arguments": "steam://openurl/{URL}"
    },
    {
      "regex": "ssh://(.*@(company1|company2).(com|ru))/",
      "program": "C:\\Windows\\System32\\OpenSSH\\ssh.exe",
      "arguments": "-i .ssh/id_rsa1 user1@$1"
    },
    {
      "regex": "ssh://(.*)/",
      "program": "C:\\Windows\\System32\\OpenSSH\\ssh.exe",
      "arguments": "-i .ssh/id_rsa_personal biba@$1"
    },
    {
      "regex": "mailto:.*@(company1|company2).(com|ru)",
      "program": "C:\\Program Files\\Microsoft Office\\root\\Office16\\OUTLOOK.EXE",
      "arguments": "/c ipm.note /m $1"
    },
    {
      "regex": "mailto:(.*)",
      "program": "C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe",
      "arguments": "https://mail.google.com/mail/?view=cm&fs=1&to=$1"
    }
  ]
}
